@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

.wrapper {
  @apply w-11/12 m-auto max-w-screen-lg;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  background-image: url('noise.png');
  background-color: #000;
  color: #ffffff;
}